html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
}

button {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    position: absolute;
    top: 91%;
    left: 49.25%;
    transform: translate(-50%, -50%);
    z-index: 5;
}